@import url('https://fonts.googleapis.com/css?family=Nunito');

*{
    padding: 0;
    margin : 0 ;
    font-family: 'Nunito', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background: #2a2c5a;
}

.container{
    width: 100%;
    margin: 0 auto;
   

    .info{
        margin: 20% auto;
        display: block;

        h1{
            text-align: center;
            color: white;
            font-size: 2.4em;
        }
    }
  
    
    .botones{
        display: block;

    }

    button{
        width: 60%;
        margin: 4% auto;
        background:#2a2c5a; 
        color: white;
        border : 1px solid #2a2c5a;
        padding: 15px 30px;
        border-radius: 20px;
        box-shadow: -5px 10px 20px -5px #261049;
        transition: .4s;
        display: block;
        font-weight: bold;
        z-index: 1;
        &:nth-of-type(1){
            background: #f7c32e;
            border : 1px solid #f7c32e;
            color: #261049;

            &:hover{
                background: #2a2c5a;
                color: #f7c32e; 
            }
        }

        &:hover{
            background: #f7c32e;
            color :#2a2c5a; 
            border : 1px solid #f7c32e;

        }

        &:focus{
            outline: none;
        }
    }

    .diseno{
        background: url('../icn/trazado.svg');
         background-repeat: no-repeat;
         background-size: 100%;
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
    }


}